<div class="container text-center my-5">
    <!-- HEADER -->
    <div class="row">
        <div class="col">
            <h2 class="fw-bold mb-4">Become A Member</h2>
        </div>
    </div>

    <!-- Benefits -->
    <div class="row justify-content-center gy-4">

        <div class="col-12 col-sm-12 col-md-4 col-lg-2 d-flex flex-column align-items-center">
            <video autoplay loop muted playsinline class="icon-video mb-2 animate-logo">
                <source src="/video/free-delivery.mp4" type="video/mp4">
            </video>
            <p>Free Delivery</p>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center">
            <video autoplay loop muted playsinline class="icon-video mb-2 animate-logo">
                <source src="/video/discount.mp4" type="video/mp4">
            </video>
            <p>10% Discount</p>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center">
            <video autoplay loop muted playsinline class="icon-video mb-2 animate-logo">
                <source src="/video/coffee-cup.mp4" type="video/mp4">
            </video>
            <p>Free Mug</p>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center">
            <video autoplay loop muted playsinline class="icon-video mb-2 animate-logo">
                <source src="/video/bag.mp4" type="video/mp4">
            </video>
            <p>Free Tote Bag</p>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center">
            <video autoplay loop muted playsinline class="icon-video mb-2 animate-logo">
                <source src="/video/beanie.mp4" type="video/mp4">
            </video>
            <p>Free Beanie</p>
        </div>

    </div>

    <!-- CTA -->
    <div class="row mt-4">
        <div class="col">
            <button class="btn-lg px-4 py-2" id="Subscribe" onclick="window.location='/membership'">Join The Team</button>
        </div>
    </div>
</div>
