/* Newsletter subscribe button */
#Subscribe {
  font-size: clamp(0.875rem, 0.3vw + 0.8rem, 1rem);
  letter-spacing: 0.0625rem;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;

  background: #ffcc00;
  color: #111;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  outline: none;
  transform: scale(1.3);
}

/* Hover Effect */
#Subscribe:hover {
  background: #ffee00;
  color: #111;
  box-shadow:
    5 5 10px rgb(255, 255, 0),
    0 0 20px rgba(255, 255, 0, 0.6),
    0 0 40px rgba(255, 255, 0, 0.4);
  transform: scale(1.8);
}

#Subscribe:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

#Subscribe:active {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}
